*{
  max-width: 1500px;
  margin: auto;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

.wrap{
  width: 100%;
}
/*---Navigation Bar---*/
header{
  padding-left: 10px;
  border-bottom: 1px solid rgba(204, 102, 0, 0.7);
  font-family: tangerine;
  font-size: 32px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+31,b54500+72,e2b100+100 */
  background: #000000; /* Old browsers */
  background: -moz-linear-gradient(left, #000000 31%, #b54500 72%, #e2b100 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #000000 31%,#b54500 72%,#e2b100 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #000000 31%,#b54500 72%,#e2b100 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#e2b100',GradientType=1 ); /* IE6-9 */
}

img{
  width: 50px;
  float: left;
}


ul li{
  display: inline-block;
  margin: 15px;
}

ul li a{
  color: white;
}

a:hover{
  color: rgb(204, 102, 0);
}


/*---Body---*/

body{
  background: url("../assets/background.jpg");
  background-clip: border-box;
  background-size: 1500px;
  bac
  width: 100%
}

body a{
  text-decoration: none;
}

.contenedor
{

  max-width: 1200px;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.contenedorTarjeta
{
  margin: 20px;
}

.contenedorTarjeta a{
  display: inline-block;
}

.contenedorTarjeta:hover figure
{
  transform: perspective(600px) rotateY(180deg);
  -webkit-box-shadow: 5px 4px 6px -2px rgba(0,0,0,0.48);
  -moz-box-shadow: 5px 4px 6px -2px rgba(0,0,0,0.48);
  box-shadow: 5px 4px 6px -2px rgba(0,0,0,0.48);
}

figure
{
  width: 325px;
  height: 425px;
  margin:0;
  position: relative;
  transition: all ease 0.5s;
  transform-style:preserve-3d;
  transform:perspective(600px) rotateY(0deg);
}

figure .frontal,
figure .trasera
{
    width:100%;
    height: 100%;
    border-radius: 5px;
    transition: all ease .5px;
}

figure .frontal
{
  display: block;
  /*backface-visibility: hidden;*/
}

figure .trasera
{
  position: absolute;
  top: 0;
  padding: 20px;
  color: #fff;
  transform:perspective(600px) rotateY(180deg);
  backface-visibility: hidden;
  overflow: auto;

  background: rgba(0,0,0,0.83);
background: -moz-linear-gradient(left, rgba(0,0,0,0.83) 0%, rgba(0,0,0,0.85) 9%, rgba(163,90,0,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0.83)), color-stop(9%, rgba(0,0,0,0.85)), color-stop(100%, rgba(163,90,0,1)));
background: -webkit-linear-gradient(left, rgba(0,0,0,0.83) 0%, rgba(0,0,0,0.85) 9%, rgba(163,90,0,1) 100%);
background: -o-linear-gradient(left, rgba(0,0,0,0.83) 0%, rgba(0,0,0,0.85) 9%, rgba(163,90,0,1) 100%);
background: -ms-linear-gradient(left, rgba(0,0,0,0.83) 0%, rgba(0,0,0,0.85) 9%, rgba(163,90,0,1) 100%);
background: linear-gradient(to right, rgba(0,0,0,0.83) 0%, rgba(0,0,0,0.85) 9%, rgba(163,90,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#a35a00', GradientType=1 );
}

figure .trasera .titulo
{
  color:#fff;
  font-weight: normal;
  margin-bottom: 28px;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}

figure .trasera hr
{
  height: 2px;
  background: #fff;
  border: none;
  margin-bottom: 20px;
  opacity: 0.5;
}

figure .trasera p
{
  font-family: "Open Sans", sans-serif;
  line-height: 22px;
  font-size: 14px;
}

/*---Footer---*/

footer{

  padding: 10px;
  font-family: tangerine;
  font-size: 25px;
  color: rgba(204, 102, 0, 0.6);
  background-color: black;
  text-align: center;
}
