@import url("reset.css");
@import url("fuentes.css");

/*---Estilos Generales---*/
body{
  background:#2d2d2d;
  font-family: arial, helvetica, sans-serif;
}

a{
  text-decoration: none;color: #fff;}

a:hover{
  text-decoration: underline;
}


#wrap{
  width: 960px;
  margin: auto;
  clear: both;
}

/*---Header---*/
header{
  width: 100%;
  float: left;
  background: #fff;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e4e0e0+0,ffffff+100,7db9e8+100 */
  background: #e4e0e0; /* Old browsers */
  background: -moz-linear-gradient(top, #e4e0e0 0%, #ffffff 100%, #7db9e8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #e4e0e0 0%,#ffffff 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #e4e0e0 0%,#ffffff 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e0e0', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
  box-shadow: 0px 3px 5px;
  -moz-box-shadow: 0px 3px 5px;
  -webkit-box-shadow: 0px 3px 5px;
}

#subheader{
  width: 960px;
  margin: auto;
}

#logotipo{
  float: left;
  width: 300px;
  padding:10px 0px;
}

#logotipo a{
  font-family: cinzel;
  font-size: 50px;
  color: #000;
}

#logotipo a:hover{text-decoration: none;}

/*---Menu---*/

header #subheader nav{
  float: left;
  width: 630px;
  padding: 30px 0px;
  text-align: right;
}
header #subheader nav ul li{
  display: inline;
  font-family: cinzel;
}

header #subheader nav ul li a{
  color: #000;
  font-size: 18px;
  padding: 10px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

header #subheader nav ul li a:hover{
  color:#fff;
  background: #1798af;
  text-decoration: none;
}

/*---Main---*/

#main {
  width:100%;
  margin:20px 0px 0px 0px;
  float: left;
}

/*--SlideShow--*/

#slideshow{
  width: 920px;
  height: 260px;
  float: left;
  background: #000;
  border:solid 20px #fff;
  margin-bottom: 30px;
}

.slidesjs-next.slidesjs-navigation {
 visibility: hidden;
 color: white;
 padding: 5px;
}

.slidesjs-previous.slidesjs-navigation {
 visibility: hidden;
 color: white;
 padding: 5px;
}

.slidesjs-pagination {
 margin: 16px auto;
 width: 100px;
}

.slidesjs-pagination li {
 float: left;
 margin: 0px 5px;
 list-style: none;
 background-color: white;
 border-radius: 6px;
}

.slidesjs-pagination li a {
 display: block;
 width: 12px;
 height: 0px;
 padding-top: 12px;
 float: left;
 overflow: hidden;
 border-radius: 6px;
}

.slidesjs-pagination li .active {
 background-color: #1798af;
}

#slideshow img {
 width: 920px;
 height: 260px;
}


/*--Bienvenids--*/

#bienvenidos{
  width: 920px;
  float:left;
  padding: 20px;
  background: rgba(45,76,30,1);
  background: -moz-linear-gradient(left, rgba(45,76,30,1) 0%, rgba(70,121,106,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(45,76,30,1)), color-stop(100%, rgba(70,121,106,1)));
  background: -webkit-linear-gradient(left, rgba(45,76,30,1) 0%, rgba(70,121,106,1) 100%);
  background: -o-linear-gradient(left, rgba(45,76,30,1) 0%, rgba(70,121,106,1) 100%);
  background: -ms-linear-gradient(left, rgba(45,76,30,1) 0%, rgba(70,121,106,1) 100%);
  background: linear-gradient(to right, rgba(45,76,30,1) 0%, rgba(70,121,106,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d4c1e', endColorstr='#46796a', GradientType=1 );
  margin: 20px 0px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 2px 2px #000;
  -moz-box-shadow: 0px 2px 2px #000;
  -webkit-box-shadow: 0px 2px 2px #000;
}

#bienvenidos article h3{
  font-family: cinzel;
  color: #fff;
  font-size: 40px;
  margin-bottom: 10px;
}

#bienvenidos article{
  color: #fff;
  line-height: 27px;
}

/*---Contenido*---*/

#contenido{
  width: 700px;
  float:left;
}

#contenido article{
  float: left;
  margin-bottom: 20px;
}

#contenido article .titulo{
  font-size: 22px;
  font-family: cinzel;
  color:#fff;
}

#contenido article .fecha{
  font-size: 14px;
  color: #1798af;
  margin-bottom: 5px;
}

#contenido article .thumb{
  width: 220px;
  height: 150px;
  float: left;
  margin: 0px 10px 10px 0px;
}

#contenido article > p{
  color:#8c8c8c;
  font-size: 14px;
  text-align: justify;
}
/*--SideBar--*/
aside{
  width: 220px;
  float: left;
  margin-left:20px;
  background: #4d78b3;
  padding: 10px 10px 0px 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0px 2px 2px #000;
  -moz-box-shadow: 0px 2px 2px #000;
  -webkit-box-shadow: 0px 2px 2px #000;
}

aside section img{
  width: 220px;
  height: 285px;
}

aside .widget{
  margin-bottom: 10px;
  float: left;
}

aside .widget > h3{
  background: #fff;
  color: #4d78b3;
  width: 220px;
  padding: 10px 0px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

aside .widget a{
  color:#fff;
}

aside .widget ul li{
  margin-bottom: 5px;
}

/*--Footer--*/
footer{
  width: 100%;
  float: left;
  clear:both;
  box-shadow: 0px 2px #000;
  -moz-box-shadow: 0px 2px #000;
  -webkit-box-shadow: 0px 2px #000;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2f2f2f+1,242424+99 */
  background: #2f2f2f; /* Old browsers */
  background: -moz-linear-gradient(top, #2f2f2f 1%, #242424 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #2f2f2f 1%,#242424 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #2f2f2f 1%,#242424 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f2f2f', endColorstr='#242424',GradientType=0 ); /* IE6-9 */
}

footer section{
  width: 440px;
  float: left;
  padding: 20px;
}

footer #acercaDe{
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  color: #919191;
  text-align: justify;
  line-height: 20px;
}

footer #acercaDe h3{
  font-family: cinzel;
  font-size: 20px;
  color:#fff;
  margin-bottom: 5px;
}

footer #redesS > div {
  width:220px;
  height: 60px;
  float: left;
  background: #ff8000;
  opacity: 0.7;
}

footer #redesS >div a{
  width: 220px;
  height: 60px;
  display: inline-block;
}

footer #redesS .twitter{
  background: url(../imagenes/twitter.png);
  margin-bottom: 15px;
}

footer #redesS .facebook{
  background: url(../imagenes/facebook.png);

}

footer #redesS .youtube{
  background: url(../imagenes/youtube.png);

}

footer #redesS .email{
  background: url(../imagenes/email.png);
  margin-bottom: 15px;
}

#copyright{
  float: left;
  width: 960px;
  margin: 10px 0px;
}

#copyright p{
  text-align: center;
  font-size: 12px;
  color: #fff;
  font-family: arial, helvetica sans-serif;
}
