@font-face {
  font-family: cinzel;
  src:url(../fuentes/Cinzel/Cinzel-Regular.ttf);
}

@font-face {
  font-family: cinzel-black;
  src:url(../fuentes/Cinzel/Cinzel-Black.ttf);
}

@font-face {
  font-family: cinzel-bold;
  src:url(../fuentes/Cinzel/Cinzel-Bold.ttf);
}
